@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-gray:#F5F5F5;
  --color-dark-gray:#2B2B2B;
  --color-custom-black:#121212;
  --color-custom-text:#333333;
  --color-primary-accent:#ADFF00;
  --color-secondary-accent:#754AF8;

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-mont), sans-serif;
}
